/* Subhaneil Lahiri CSS */
:root {
    --major-bg-color: #e7e7e9;
    --major-fg-color: #000000;
    --links-fg-color: #293e81;
    --minor-bg-color: #a2acb3;
    --minor-fg-color: #3d384b;
    --inert-bg-color: #4e5561;
    --title-bg-color: #1e3041;
    --title-fg-color: #c0ecf7;
    --footer-bg-color: var(--minor-bg-color);
    --footer-fg-color: var(--minor-fg-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --major-bg-color: #353b44;
        --major-fg-color: #a0b4d1;
        --links-fg-color: #7f90b3;
        --minor-bg-color: #626c72;
        --minor-fg-color: #efeafd;
        }
    img.dark {
        filter: invert(100%) hue-rotate(180deg);
    }
}

@media print {
    :root {
        --major-bg-color: #ffffff;
        --major-fg-color: #000000;
        --links-fg-color: #353550;
        --minor-bg-color: #ffffff;
        --minor-fg-color: #43414b;
        --inert-bg-color: #ffffff;
        --title-bg-color: #ffffff;
        --title-fg-color: #44676e;
        /* --footer-fg-color: #999999; */
    }
    div.nav {
        display: none;
    }
}

body {
    margin: 0em;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}

/* Sections */

div.header, div.nav {
    clear: both;
    margin: 0;
    padding: 0.625em;
    background-color: var(--title-bg-color);
    color: var(--title-fg-color);
}

div.nav {
    padding: 0em;
}

div.footer {
    clear: both;
    text-align: center;
    margin: 0;
    padding: 0.625em;
    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
}

div.main {
    margin: 0 5% 0 5%;
    padding: 0.625em 0.625em 1.625em 0.625em;
    background-color: var(--major-bg-color);
    color: var(--major-fg-color);
    border-radius: 0em 0em 0.3em 0.3em;
}

/* General  formatting */

img {
/*	display: block; */
    border: 0;
}

em {
    font-style: italic
}

a {
    font-weight: normal;
    color: var(--links-fg-color);
    text-decoration: none;
}

code {
    font-family: "Fira Code", "Cascadia Code", "Consolas", "Courier New", "Lucida Console", Courier, monospace;
    color: inherit;
}

/* titles */

h1, h2, h3 {
    font-weight: bold;
    color: inherit;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0em;
    padding: 1em 1em 0.3rem 1.875rem;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    padding: 0.625em;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	padding: 0.625em;
}

h3 {
    text-align: left;
    font-size: 1.6em;
}

/* Basic links */

/* a:link, a:visited { color: var(--links-fg-color); text-decoration: none;} */
/* a:visited { color: var(--links-fg-color); text-decoration: none; } */
/* a:hover { color: #1111FF; text-decoration: none; background-color: #F8F8F8; } */
/* a:active { color: #0000EE; text-decoration: underline; } */
.footer a {
    color: inherit;
}

/* text */

span.note {
    display: block;
    font-size: 0.8em;
}

p {
    font-size: 1em;
    margin: 0em;
    padding: 1em 1em 0.3em 1.875em;
    line-height: 1.4;
    max-width: 50em;
    font-family: inherit;
    color: inherit;
}

/* Lists */

ul {
    list-style-position: outside;
    list-style-type: none;
    padding: 0em 1em 0.3em 1.875em;
    margin: 0;
    max-width: 50em;
}

/* Before list */

p.profiles {
    padding-bottom: 0.3em;
}

/* Profiles & publications */

.profile_links li {
    display: inline-block;
}

/* Navigation bar */

.nav ul {
    padding: 0;
    border-style: hidden;
}

.nav li {
    display: inline-block;
    margin: 0;
    /* margin-right: 3px; */
    background-color: var(--inert-bg-color);
    color: inherit;
}

.nav li:hover, .nav .active {
    background-color: inherit;
}

.nav .skip {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav .skip:focus-within {
    overflow: hidden;
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.nav a {
    padding: 0.5em;
    color: inherit;
    line-height: 2em;
}

.nav a:focus {
    outline-offset: -2px;
}

/* special image styles */

img.frontright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    border: none;
    border-radius: 0.6em;
}

@media (min-width: 600px) {
    img.frontright {
        float: right;
        clear: right;
        margin-left: 0.625em;
        margin-right: 1.25em;
    }
}

img.intext {
    display: inline-block;
    margin: 0;
    border: none;
    vertical-align: baseline;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 1em;
    height: auto;
}
