/* Subhaneil Lahiri CSS */
:root {
    --major-bg-color: #FFFFFF;
    --major-fg-color: #000000;
    --minor-bg-color: #DAE6FE;
    --minor-fg-color: #5E646D;
    --inert-bg-color: #8C96A3;
    --title-bg-color: #757D88;
    --title-fg-color: #FFFFFF;
    --links-fg-color: #5b5b8b;
    /* --footer-fg-color: #999999; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --major-bg-color: #353b44;
        --major-fg-color: #a0afd1;
        --minor-bg-color: #4b4f58;
        --minor-fg-color: #b9b1cf;
        --inert-bg-color: #353b44;
        --title-bg-color: #1e3041;
        --title-fg-color: #e7d2b6;
        --links-fg-color: #7f90b3;
        /* --footer-fg-color: #999999; */
    }
}

body {
    margin: 0em;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}

/* Sections */

div.header, div.nav {
    clear: both;
    margin: 0;
    padding: 0.625em;
    background-color: var(--title-bg-color);
    color: var(--title-fg-color);
}

div.nav {
    padding: 0em;
}

div.footer {
    clear: both;
    text-align: center;
    margin: 0;
    padding: 0.625em;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}

div.main {
    margin: 0 5% 0 5%;
    padding: 0.625em 0.625em 1.625em 0.625em;
    background-color: var(--major-bg-color);
    color: var(--major-fg-color);
}

/* General  formatting */

img {
/*	display: block; */
    border: 0;
}

em {
    font-style: italic
}

a {
    font-weight: normal;
    color: var(--links-fg-color);
    text-decoration: none;
}

code {
    font-family: "Courier New", "Lucida Console", Courier, monospace;
    color: inherit;
}

/* titles */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: inherit;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0em;
    padding: 1em 1em 0.3rem 1.875rem;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    padding: 0.625em;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	padding: 0.625em;
}

h3 {
    text-align: left;
    font-size: 1.6em;
}

/* h4 {
    text-align: left;
    font-size: 1em;
}

h5 {
    text-align: left;
    font-size: 1em;
    font-style: italic;
}

h6 {
    display: inline;
    text-align: left;
    font-size: 1em;
} */

/* Basic links */

/* a:link, a:visited { color: var(--links-fg-color); text-decoration: none;} */
/* a:visited { color: var(--links-fg-color); text-decoration: none; } */
/* a:hover { color: #1111FF; text-decoration: none; background-color: #F8F8F8; } */
/* a:active { color: #0000EE; text-decoration: underline; } */
.footer a {
    color: inherit;
}

/* text */

span.note {
    display: block;
    font-size: 0.8em;
}

p {
    font-size: 1em;
    margin: 0em;
    padding: 1em 1em 0.3em 1.875em;
    line-height: 1.4;
    max-width: 50em;
    font-family: inherit;
    color: inherit;
}

/* Lists */

ul {
    list-style-position: outside;
    list-style-type: none;
    padding: 0em 1em 0.3em 1.875em;
    margin: 0;
    max-width: 50em;
}

/* Before list */

p.profiles {
    padding-bottom: 0.3em;
}

/* Profiles & publications */

.profile_links li {
    display: inline-block;
}

/* Navigation bar */

.nav ul {
    padding: 0;
    border-style: hidden;
}

.nav li {
    display: inline-block;
    margin: 0;
    background-color: var(--inert-bg-color);
    color: inherit;
}

.nav li:hover, .nav .active {
    background-color: inherit;
}

.nav a {
    padding: 0.5em;
    color: inherit;
    line-height: 2em;
}

/* special image styles */

img.frontright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    border: none;
    border-radius: 10%;
}

@media (min-width: 600px) {
    img.frontright {
        float: right;
        clear: right;
        margin-left: 0.625em;
        margin-right: 1.25em;
    }
}

img.intext {
    display: inline-block;
    margin: 0;
    border: none;
    vertical-align: baseline;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 1em;
    height: auto;
}
