
.papers {
    max-width: 60em;
    padding-top: 1em;
}

.papers li {
    padding-top: 0.7em;
    line-height: 1.4em;
    background-image: none;
}

.papers li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1em;
    padding-right: 0.5em;
    margin-left: -1.5em;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.papers li.article::before {
    background-image: url(../icons/article.svg);
    content: 'Article:';
}
.papers li.preprint::before {
    background-image: url(../icons/preprint.svg);
    content: 'Preprint:';
}

.author, .title, .journal, .volume, .year, .eprint {
    font-size: inherit;
}
.author::after {
    content: ",";
}

.title {
    font-style: italic;
    display: block;
}
.title::before {
    content: "‘";
}
.title::after {
    content: "’,";
}

.volume {
    font-weight: bold;
}

.year::before {
    content: "(";
}
.year::after {
    content: ")";
}

.eprint {
    font-family:  "Courier New", "Lucida Console", Courier, monospace;
}
