/* Before list */

p.project {
    padding-bottom: 0.5em;
}

/*Lists */

/* List of works under projects */

.project_links li {
    display: inline-block;
    border-radius: 10%;
    padding: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}

.article {
    background-image: url(../icons/article.svg);
    --icon-label: "Article";
}
.preprint {
    background-image: url(../icons/preprint.svg);
    --icon-label: "Preprint";
}
.slides {
    background-image: url(../icons/slides.svg);
    --icon-label: "Slides";
}
.poster {
    background-image: url(../icons/poster.svg);
    --icon-label: "Poster";
}

/* Mobile */
.icon {
    display: block;
    border-radius: 10%;
    width: 3.7em;
    height: 1em;
    line-height: 1em;
    padding-top: 3.9em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    text-indent: 0%;
    background-color: var(--minor-bg-color);
    color: inherit;
}
.icon::after {
    content: var(--icon-label);
}
/* Desktop */
@media (min-width: 600px) {
    /* .project_links li:hover {
        background-color: var(--major-bg-color);
    } */
    .icon {
        height: 3em;
        line-height: 3em;
        padding-top: 0em;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .icon:hover {
        text-indent: 0%;
        background-color: inherit;
        background-image: none;
    }
}

