/* Before list */

p.project {
    padding-bottom: 0.5em;
}

p.presentation {
    padding-left: 1.25em;
    padding-bottom: 0em;
    padding-top: 1em;
    font-style: italic;
    font-weight: bolder;
}

/*Lists */

/* List of works under projects */

.project_links li {
    display: inline-block;
    border-radius: 10%;
    padding: 3px;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}
/* .project_links li:hover {
    background-color: var(--major-bg-color);
} */

.icon {
    display: block;
    border-radius: 10%;
    width: 3.5em;
    height: 3em;
    line-height: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--major-bg-color);
    color: var(--minor-fg-color);
}
.icon:hover {
    text-indent: 0%;
    background-color: var(--minor-bg-color);
}

.article {
    background-image: url(../icons/article.svg);
}
.preprint {
    background-image: url(../icons/preprint.svg);
}
.slides {
    background-image: url(../icons/slides.svg);
}
.poster {
    background-image: url(../icons/poster.svg);
}
.article:hover, .preprint:hover, .slides:hover, .poster:hover {
    background-image: none;
}

/* @media (min-width: 600px) {
} */

