/* Before list */

p.project {
    padding-bottom: 0.5em;
}

/*Lists */

/* List of works under projects */

.project_links li {
    --icon-size: 2em;
    --icon-pad: 0.2em;
    display: inline-block;
    border-radius: calc(var(--icon-pad) * 2);
    padding: var(--icon-pad);
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}

.article a {
    background-image: url(../icons/article.svg);
    --icon-label: "Article";
}
.preprint a {
    background-image: url(../icons/preprint.svg);
    --icon-label: "Preprint";
}
.slides a {
    background-image: url(../icons/slides.svg);
    --icon-label: "Slides";
}
.poster a {
    background-image: url(../icons/poster.svg);
    --icon-label: "Poster";
}
.abstract a {
    background-image: url(../icons/abstract.svg);
    --icon-label: "Abstract";
}

/* Mobile */
.icon {
    display: block;
    border-radius: var(--icon-pad);
    width: 3.7em;
    height: 1em;
    line-height: 1em;
    padding-top: calc(var(--icon-size) + var(--icon-pad));
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    text-indent: 0%;
    background-color: inherit;
    color: inherit;
}
.icon::after {
    content: var(--icon-label);
}
/* Desktop */
@media (min-width: 600px) {
    /* .project_links li:hover {
        background-color: var(--major-bg-color);
    } */
    .icon {
        height: var(--icon-size);
        line-height: var(--icon-size);
        padding-top: 0em;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .icon:hover {
        text-indent: 0%;
        background-color: inherit;
        background-image: none;
    }
}

