/* Before list */

p.profiles {
    padding-bottom: 0.3em;
}

p.project {
    padding-bottom: 0.5em;
}

p.presentation {
    padding-left: 1.25em;
    padding-bottom: 0em;
    padding-top: 1em;
    font-style: italic;
    font-weight: bolder;
}

/*Lists */

.profile_links li {
    display: inline-block;
}

/* List of works under projects */

.project_links li {
    display: inline-block;
    border-radius: 10%;
    padding: 3px;
    background-color: var(--minor-bg-color);
    color: var(--minor-fg-color);
}
/* .project_links li:hover {
    background-color: var(--major-bg-color);
} */

.icon {
    display: block;
    border-radius: 10%;
    width: 3.5em;
    height: 3em;
    line-height: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--major-bg-color);
    color: var(--minor-fg-color);
}
.icon:hover {
    text-indent: 0%;
    background-color: var(--minor-bg-color);
}

.article {
    background-image: url(../icons/article.svg);
}
.preprint {
    background-image: url(../icons/preprint.svg);
}
.slides {
    background-image: url(../icons/slides.svg);
}
.poster {
    background-image: url(../icons/poster.svg);
}
.article:hover, .preprint:hover, .slides:hover, .poster:hover {
    background-image: none;
}

/* List of slides/poster for each presentation */

ul.materials {
    padding-bottom: 0;
    padding-left: 2.5em;
    color: var(--minor-fg-color);
}

.materials li {
    background-image: none;
    line-height: 1.5em;
}
.materials li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 4em;
    text-indent: 1.2em;
    background-position: left;
    /* background-position: 70%; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0.5em;
    color: var(--minor-fg-color);
}

.materials li.slides::before {
    background-image: url(../icons/slides.svg);
    content: 'Slides:';
}
.materials li.poster::before {
    background-image: url(../icons/poster.svg);
    content: 'Poster:';
}

/* .materials li.slides:hover::before {
    background-image: none;
    content: 'Slides: ';
}
.materials li.poster:hover::before {
    background-image: none;
    content: 'Poster: ';
} */