/* Before list */

p.presentation {
    padding-left: 1.25em;
    padding-bottom: 0em;
    padding-top: 1em;
    font-style: italic;
    font-weight: bolder;
}

/* List of slides/poster for each presentation */

ul.materials {
    padding-bottom: 0;
    padding-left: 2.5em;
    color: var(--minor-fg-color);
}

.materials li {
    background-image: none;
    line-height: 1.5em;
}
.materials li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 4em;
    text-indent: 1.2em;
    background-position: left;
    /* background-position: 70%; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0.5em;
    color: var(--minor-fg-color);
}

.materials li.slides::before {
    background-image: url(../icons/slides.svg);
    content: 'Slides:';
}
.materials li.poster::before {
    background-image: url(../icons/poster.svg);
    content: 'Poster:';
}

/* .materials li.slides:hover::before {
    background-image: none;
    content: 'Slides: ';
}
.materials li.poster:hover::before {
    background-image: none;
    content: 'Poster: ';
} */

/* List of publications */

ul.papers {
    max-width: 60em;
    padding-top: 1em;
}

.papers li {
    padding-top: 0.7em;
    line-height: 1.4em;
    background-image: none;
}

.papers li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1em;
    padding-right: 0.5em;
    margin-left: -1.5em;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.papers li.article::before {
    background-image: url(../icons/article.svg);
    content: 'Article:';
}
.papers li.preprint::before {
    background-image: url(../icons/preprint.svg);
    content: 'Preprint:';
}

.author, .title, .journal, .volume, .year, .eprint {
    font-size: inherit;
}
.author::after {
    content: ",";
}
.self {
    font-weight: inherit;
}

.title {
    font-style: italic;
    display: block;
}
.title::before {
    content: "“";
}
.title::after {
    content: "”,";
}

.volume {
    font-weight: bold;
}

.year::before {
    content: "(";
}
.year::after {
    content: ")";
}

.eprint {
    font-family:  "Courier New", "Lucida Console", Courier, monospace;
}
