/* List of publications */

ul.papers {
    max-width: 60em;
    padding-top: 1em;
}

ul.papers li {
    padding-top: 0.7em;
    line-height: 1.4em;
    background-image: none;
}

ul.papers li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 1em;
    padding-right: 0.5em;
    margin-left: -1.5em;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

ul.papers li.article::before {
    background-image: url(../icons/article.svg);
    content: 'Article:';
}
ul.papers li.preprint::before {
    background-image: url(../icons/preprint.svg);
    content: 'Preprint:';
}
ul.papers li.abstract::before {
    background-image: url(../icons/abstract.svg);
    content: 'Abstract:';
}

ul.papers li span {
    font-size: inherit;
}
span.author::after {
    content: ",";
}
span.self {
    font-weight: inherit;
}

span.title {
    font-style: italic;
    display: block;
}
span.title::before {
    content: "“";
}
span.title::after {
    content: "”,";
}

span.volume {
    font-weight: bold;
}

span.year::before {
    content: "(";
}
span.year::after {
    content: ")";
}

span.eprint {
    font-family: "Fira Code", "Cascadia Code", "Consolas", "Courier New", "Lucida Console", Courier, monospace;
}
