/* Before list */

h2.presentation {
    padding-left: 1.25em;
    padding-bottom: 0em;
    padding-top: 1em;
    font-style: italic;
    font-weight: bolder;
    font-size: 1em;
}

/* List of slides/poster for each presentation */

ul.materials {
    padding-bottom: 0;
    padding-left: 2.5em;
    color: var(--minor-fg-color);
}

ul.materials li {
    background-image: none;
    line-height: 1.5em;
}
ul.materials li::before {
    display: inline-block;
    line-height: 1em;
    height: 1em;
    width: 4em;
    text-indent: 1.2em;
    background-position: left;
    /* background-position: 70%; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0.5em;
    color: var(--minor-fg-color);
}

ul.materials li.slides::before {
    background-image: url(../icons/slides.svg);
    content: 'Slides:';
}
ul.materials li.poster::before {
    background-image: url(../icons/poster.svg);
    content: 'Poster:';
}

/* ul.materials li.slides:hover::before {
    background-image: none;
    content: 'Slides: ';
}
ul.materials li.poster:hover::before {
    background-image: none;
    content: 'Poster: ';
} */

